.player-columns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.player-column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.player-pic-container {
    text-align: center;
    flex-direction: column;
    align-items: center; 
}

.column-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center; 
}

.total-points, .outcome {
    text-align: center; 
    font-size: 1.5rem;
}

.gameweek, .input-container {
    text-align: center; 
    font-size: 1.2rem;
}

.player-pic {
    width: 110px;
    height: 140px;
    object-fit: cover; 
}

.player-stat-name, .player-stat-box {
    margin-top: 5px; 
    margin-bottom: 2px; 
    background: white; 
    width: 140px; 
    text-align: center; 
}

.player-stat-box p {
    margin: 2px;
}

.total-points {
    margin-top: 2px;
    margin-bottom: 2px;
}

.column-title {
    margin-top: 2px;
    margin-bottom: 2px;
}

.gameweek, .outcome {
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 5px 0;
}

#gameweek, #multiplier {
    width: 40px;
    padding: 5px;
    text-align: center;
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: textfield; /* Firefox */
    appearance: none; /* Standard syntax */
}

#gameweek::-webkit-outer-spin-button,
#gameweek::-webkit-inner-spin-button,
#multiplier::-webkit-outer-spin-button,
#multiplier::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Removes spinners in Chrome */
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper button {
    width: 20px;
    height: 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.input-wrapper input {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.minus-button {
    background-color: rgb(234, 115, 115);
}

.plus-button {
    background-color: rgb(106, 187, 106);
}
